#footer {
	padding:10;
}

#header {
	padding:10;
}

#body {
	padding:10;
}

.verticalSpacer {
	backgroundColor:0x000000
}

#mainMenuText {
	margin-top:50;
	borderSize:1;
	borderColor:0x000000;
}

.levelTitle {
	font-size:16;
}

.resultText {
	font-size:16;
}

.popup {
	spacingY:20;
	padding:20;
}

.popupText {
	font-size:18;
}